* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #0f172a;
    color: #e5e7eb;   /* changed main text color */
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #111827;
}

.logo {
    color: #c084fc;   /* changed logo color */
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #e5e7eb;   /* changed nav text */
    transition: 0.3s;
}

nav ul li a:hover {
    color: #c084fc;   /* changed hover color */
}

/* Hero */
.hero {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-text h1 {
    font-size: 40px;
}

.hero-text span {
    color: #c084fc;   /* changed highlight color */
}

.hero-text p {
    margin: 15px 0;
    font-size: 20px;
    color: #d1d5db;   /* softer gray */
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #c084fc;  /* button color changed */
    color: black;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

/* Sections */
.section {
    padding: 60px 80px;
    text-align: center;
}

.section h2 {
    margin-bottom: 20px;
    color: #c084fc;   /* heading color changed */
}

/* Skills */
.skill-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: #1e293b;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    width: 150px;
    color: #f3f4f6;   /* card text color */
}

/* Projects */
.project-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-card {
    background-color: #1e293b;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    width: 250px;
    color: #f3f4f6;   /* project text color */
}

/

